name: Release and Deploy NuGet Package

on:
  workflow_dispatch:

jobs:
  release-deploy:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.10.2
      with:
        versionSpec: '5.x'

    - name: Determine Version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0.10.2

    - name: Set the versions
      run: |
          echo "NUGET_VERSION=${{ steps.gitversion.outputs.SemVer }}-alpha" >> $env:GITHUB_ENV
          echo "ASSEMBLY_VERSION=${{ steps.gitversion.outputs.AssemblySemVer }}" >> $env:GITHUB_ENV
          echo "FILE_VERSION=${{ steps.gitversion.outputs.AssemblySemVer }}" >> $env:GITHUB_ENV
          echo "INFORMATIONAL_VERSION=${{ steps.gitversion.outputs.InformationalVersion }}" >> $env:GITHUB_ENV
      
    - name: Build NuGet package
      run: |
        dotnet pack ./src/RxDBDotNet/RxDBDotNet.csproj `
          --configuration Release `
          --output ./nuget `
          /p:Version=$env:NUGET_VERSION `
          /p:AssemblyVersion=$env:ASSEMBLY_VERSION `
          /p:FileVersion=$env:FILE_VERSION `
          /p:InformationalVersion=$env:INFORMATIONAL_VERSION

    - name: Publish NuGet package to NuGet.org
      run: |
        $package = Get-ChildItem -Path ./nuget -Filter RxDBDotNet*.nupkg | Select-Object -First 1
        dotnet nuget push $package.FullName --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json

    - name: Display Package Info
      run: |
        echo "Package file:"
        Get-ChildItem -Path ./nuget -Filter RxDBDotNet*.nupkg | Format-Table Name, FullName

    - name: Draft a Release
      uses: release-drafter/release-drafter@v5
      with:
        version: ${{ env.NUGET_VERSION }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
